[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
circuitpython-stubs = "==7.0.0rc1"

[packages]
flask = "*"
pyserial = "*"
circup = "*"

[requires]
python_version = "3.8"
